pydot
numpy
scipy
scikit-learn
scikit-image
seaborn
matplotlib
opencv-python
ultralytics

# ML: TensorFlow
tensorflow[and-cuda]
tensorflow-datasets
tensorflow_hub
tensorflow_docs
tensorboard

# Audio Processing
pydub
sounddevice

# Pandas
pandas
openpyxl # Supporting Excel files