pydot
numpy
scipy
scikit-learn
scikit-image
seaborn
pandas
matplotlib
opencv-python
ultralytics

# ML: TensorFlow
tensorflow[and-cuda]
tensorflow-datasets
tensorflow_hub
tensorflow_docs
tensorboard

# Audio Processing
pydub
sounddevice
