# Tensorflow with cuda support.
tensorflow[and-cuda]~=2.20.0
tensorflow-datasets~=4.9.0
tensorflow-text~=2.20.0
tf-models-official~=2.20.0

# Torch cpu-only version.
--extra-index-url https://download.pytorch.org/whl/cpu
torch~=2.11.0
torchvision~=0.26.0

# Jax cpu-only version.
jax[cpu]~=0.6.0

# ONNX Runtime (CUDA)
onnxruntime-gpu~=1.23.0

-r requirements-common.txt